body{
    margin: 0px;
}

#box3X3 {
    width:310px;
    height: 310px;
    border: 1px solid;
}

#box3X3 .btn{
    width:100px;
    height:100px;
    font: 70px verdana;
}

#box4X4 {
    width:440px;
    height: 440px;
    border: 1px solid;
}

#box4X4 .btn{
    width:100px;
    height:100px;
    font: 70px verdana;
}

#box5X5 {
    width:550px;
    height: 550px;
    border: 1px solid;
}

#box5X5 .btn{
    width:100px;
    height:100px;
    font: 70px verdana;
}
